@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: gray;

}

.navbar {
  grid-area: navbar;
  background-color: aqua;
}


.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header " 30px
    "navbar " 100px
    "sidebar" auto
    "sidebar" 100px
    "footer" 100px /
    200px auto
  ;
}

@media(min-width:600px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header header" 100px
      "sidebar sidebar" auto
      "sidebar main" auto
      "footer footer" 100px /
      200px auto
    ;
  }
}

@media(min-width:1200px) {
  .grid-container {
    display: grid;
    gap: 10px;
    
    grid-template:
      "header header header"70px
      "sidebar1 main main  " auto
      "sidebar1 main main  " 100px
    "sidebar2 main main" 150px
      "footer footer footer" 70px/
      150px auto auto



    ;
  }
}

/*.aside{
  grid-area: sidebar;
  background-color: azure;

}*/
.sidebar {
  grid-area: sidebar;
  background-color: blueviolet;
}

.main {
  grid-area: main;
  background-color: chartreuse;
}

.footer {
  grid-area: footer;
  background-color: grey;
  
}