@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: gray;

}
.sidebar {
  grid-area: sidebar;
  background-color: blueviolet;
}

.main {
  grid-area: main;
  background-color: chartreuse;
}

.footer {
  grid-area: footer;
  background-color: grey;
  
}
.navbar {
  grid-area: navbar;
  background-color: aqua;
}


.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header " auto
    "navbar " auto
    "sidebar" auto
    "main" auto
    "footer" auto
  ;
}

@media(min-width:600px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header header" auto
      "sidebar navbar" auto
      "main navbar" auto
      "footer footer" auto /
      auto auto
    ;
  }
}

@media(min-width:992px) {
  .grid-container {
    display: grid;
    gap: 10px;
    
    grid-template:
      "header header header" auto
      "sidebar main main  " auto
      "sidebar main main  " auto
      "sidebar navbar navbar" auto
      "footer footer footer" auto
    ;
  }
}

/*.aside{
  grid-area: sidebar;
  background-color: azure;

}*/
