h1{
    font-size:4em;
    color:red;
    background-color: red;
    border: solid;
   
}

h2{
    font-size: 3em;
    color:red;
    background-color: red;
    border: solid;

}

h3{
    font-size: 2em;
    color:red;
    background-color: red;
    border: solid;

}